<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-img src="https://cdn-icons-png.flaticon.com/512/3096/3096988.png" class="icon"></ion-img>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-img src="https://static.vecteezy.com/system/resources/previews/010/159/990/non_2x/people-icon-sign-symbol-design-free-png.png" class="icon"></ion-img>
      <ion-label>CONÓCENOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-img src="https://www.once.es/comunicacion/galeria-multimedia/logos-once/once-responsive-rgb-png/image_thumb" class="icon"></ion-img>
      <ion-label>VINCULACIONES</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
