<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Coolseum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <section>
        <video src="/My Training/HTML/Smoke Effect/smoke.mp4" autoplay muted class="video"></video>
        <h1>
            <span>C</span>
            <span>O</span>
            <span>O</span>
            <span>L</span>
            <span>S</span>
            <span>E</span>
            <span>U</span>
            <span>M</span>
        </h1>
    </section>

  <div class="imagenes">
    <div style="display: flex; justify-content: center;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Centrocivicojosesaramago02.jpg" alt="Melendi Image" width="1100" height="700" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); border: 0.2px solid black; margin-top: 30px;">
    </div>
  </div>
  <div class="contenedor-textos">
    <br>
    <p class="textos2">Bienvenidos al Coolseum, el museo más cool</p>
  </div><br><br>

<section class="seccion">
    <h2 class="hachedos">¿Qué se puede ver?</h2>
    <p class="pe">En nuestro centro podrás ver de todo. Desde la biblioteca más grande de Madrid, hasta obras de arte.</p>
    <p class="pe">Puedes venir a estudiar, o a cultrizarte. También somos centro adaptado a discapacidades de todo tipo, tanto motrices como psiquicas</p>
</section>

<section class="seccion">
  <h2 class="hachedos">Nuestras Actividades</h2>
  <p class="pe">Tenemos una gran variedad de actividades. Puedes venir a nuestro taller de pintura a sacar tus dotes más artísticos.</p>
  <p class="pe">También puedes venir a nuestras charlas de personas influyentes, entre las cuales viene una vez por semana el mismísimo Santiago Segura.</p>
  <p class="pe">Podrás disfrutar de nuestros talleres de todo tipo. Robótica, pintura, gimnasia, terapias...</p>
</section>

<section class="seccion">
  <h2 class="hachedos">¿Dónde nos ubicamos?</h2><br>
  <div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24330.05518414565!2d-3.807483720898457!3d40.33664679999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41898f0a35bd23%3A0x53cf08b23bf5f135!2sCentro%20C%C3%ADvico%20Jos%C3%A9%20Saramago!5e0!3m2!1ses!2ses!4v1709553204486!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>



</ion-content>

<style>

  .seccion {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .mapa{
    margin: 0 auto;
    text-align: center;
  }

  .hachedos {
    color: #333;
  }

  .pe {
    color: #555;
  }

  .imagenes{
    margin: 0 auto;
    text-align: center;
    
  }
  .textos{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
  }
  .textos2{
    margin: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  }
  .titulos{
    margin: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-decoration: underline;
  }
  .contenedor-textos{
    margin: 0 auto;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
  }

  *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.video
{
    object-fit: contain !important;
    top: 50%;
    width: 87%;
}
h1
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    align-items: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: rgb(26, 25, 25);
    font-size: 09em;
    font-family: sans-serif;
}
h1 span
{
    display: inline-block;
    animation: animate 1s  ease-in-out;
}
@keyframes animate
{
    0%
    {
        opacity: 0%;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}
h1 span:nth-child(1)
{
    animation-delay: 0.3s;
}
h1 span:nth-child(2)
{
    animation-delay: 0.6s;
}
h1 span:nth-child(3)
{
    animation-delay: 1.2s;
}
h1 span:nth-child(4)
{
    animation-delay: 1.7s;
}
h1 span:nth-child(5)
{
    animation-delay: 2.2s;
}
h1 span:nth-child(6)
{
    animation-delay: 2.7s;
}
h1 span:nth-child(7)
{
    animation-delay: 3.2s;
}
h1 span:nth-child(8)
{
    animation-delay: 4s;
}
</style>